body{
    font-family:'Open Sans', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: 1px black;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.buscador{
    justify-items: center;
    height: 25px;
    width: 400px;
    margin-left: 50px;
}
.buscador
nav a{
color:rgba(0,0,0,0.9);
font-weight: 600;
padding-right: 10px;
}
.cuadradoImagen{
    height: 224px;
    width: 224px;
    
}
.productos{ 
    color:rgba(0,0,0,0.9);
    box-shadow: 1px;
    display:flex;
    justify-content: space-around;
    align-content: center;
    width: 224px;
    padding: 8px;
    margin: 10px;
    background-color: white;
    display: inline-block;
}
.nombrepagina{
    color:rgba(0,0,0,0.9);
}
.nav-link{
    color:rgba(0,0,0,0.9);
    margin-left: 2px;
}
.overlay-registro {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-registro {
background-color: white;
border-radius: 10px;
box-shadow: 1px black;
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 500px;
margin: 0px 0px 10px 0px;
padding: 0px 0px 10px 0px;

}
.bienvenida-logueo {
display: flex;
justify-content: center;
}
.boton-login {
display: flex;
justify-content: center;
}
.formulario {
    padding: 10px;
}