body{
    font-family:'montserrat', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px black;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.buscador{
    justify-items: center;
    height: 25px;
    width: 400px;
    margin-left: 50px;
    border-radius: 10px;
    border-color: #adadad;
    border: 1px solid;
}
.buscador
nav a{
color:rgba(0,0,0,0.9);
font-weight: 600;
padding-right: 10px;
}
.cuadradoImagen{
    height: 224px;
    width: 224px;
    
}
.productos{ 
    color:rgba(0,0,0,0.9);
    box-shadow: 1px;
    display:flex;
    justify-content: space-around;
    align-content: center;
    width: 224px;
    padding: 8px;
    margin: 10px;
    background-color: #fff;
    display: inline-block;
}
.nombrepagina{
    color:rgba(0,0,0,0.9);
}
.nav-link{
    color:rgba(0,0,0,0.9);
    margin-left: 2px;
}
.overlay-logueo {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-logueo {
background-color: #fff;
border-radius: 10px;
box-shadow: 1px black;
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 500px;
font-family: 'montserrat', sans-serif;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 220px;
    height: 30px;
    border: 1px solid;
    border-color: #adadad;
    border-radius: 15px;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 16px;
}
.boton-submit {
font-size: 110%;
font-family: 'montserrat', sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 45px;
width: 220px;
background-color: black;
color: #fff;    
border-radius: 25px;
margin-top: 40px;
}
